.form__wrapper {
  position: relative;
  width: 100%;
}

.form__input {
}

.form__input__error {
  border-color: var(--color-error) !important;
}

.form__input__error:focus,
.form__input__error:hover {
  border-color: var(--color-error-hover) !important;
}

.form__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  transition: all 0.2s ease;
  pointer-events: none;
  color: rgb(153, 149, 149);
  font-size: 0.8rem;
}

.form__input:focus + .form__label {
  top: 0.5rem;
  transform: translateY(-0.35rem);
  font-size: 0.5rem;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: 0.5rem;
  transform: translateY(-0.5rem);
  font-size: 0.5rem;
}

.form__error {
  position: absolute;
  top: 2.5rem;
  left: 0;
  color: var(--color-error);
  transition: color 0.3s ease;
  font-size: 0.6rem;
}

.form__input__error:focus ~ .form__error,
.form__input__error:hover ~ .form__error {
  color: var(--color-error-hover);
}
