.loading__wrapper {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* โปร่งดำ */
  backdrop-filter: blur(8px); /* เบลอฉากหลัง */
  -webkit-backdrop-filter: blur(8px); /* รองรับ Safari */
  z-index: 9999;
  @apply fixed flex justify-center items-center;
}

.loading__wrapper.loading__black {
  background-color: black !important;
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
}

.loading__icon {
  width: 6rem;
  height: 6rem;
  animation: pulse 1.6s ease-in-out infinite;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.3));
}

/* Pulse effect  */
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}
