.navbar {
  top: 0;
  padding: 0% 5%;
  height: 10vh;
  z-index: 10;
  @apply absolute w-full flex justify-between items-center;
}

.navbar__brand {
  width: 100px;
}

.brand__logo {
  object-fit: cover;
  display: block;
  @apply w-full h-full;
}

.navbar__nav__items {
  gap: 1rem;
  @apply flex items-center;
}

.navbar__nav__items .nav__item {
  height: 2.5rem;
}

.navbar.logged__in {
  gap: 1.2rem;
  background-color: var(--color-bg);
  @apply justify-start;
}

.navbar.logged__in .navbar__nav__items {
  flex: 1;
  @apply justify-between;
}

.nav__item__logged {
  gap: 1.5rem;
  @apply flex list-none;
}

.logged {
  gap: 1rem;
  @apply flex items-center;
}

.logged .hamburger {
  background: none;
  border: none;
  color: var(--color-text);
  font-size: 1rem;
  min-height: 2rem;
  @apply cursor-pointer hidden;
}

.navbar.logged__in .navbar__nav__items ul.mobile__menu {
  top: 10vh;
  left: 0;
  right: 0;
  background-color: var(--color-bg);
  padding: 0 2rem;

  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  pointer-events: none;
  @apply absolute list-none;
}

.navbar.logged__in .navbar__nav__items ul.mobile__menu.show {
  max-height: 500px;
  padding: 1.5rem 2rem;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.navbar.logged__in .navbar__nav__items ul.mobile__menu li {
  margin-bottom: 1rem;
}

.navbar.logged__in .navbar__nav__items ul.mobile__menu li:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .logged .hamburger {
    @apply block;
  }

  .navbar.logged__in .navbar__nav__items {
    @apply justify-end;
  }

  .nav__item__logged {
    @apply hidden;
  }
}
