.modal__backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__content {
  background: transparent;
  color: var(--color-text);
  width: 100%;
  max-width: 300px;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  overscroll-behavior: contain; /* ✅ ป้องกัน scroll ทะลุ modal */
}

.modal__content .modal__top {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.modal__content .modal__top .modal__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease;
  transform: scale(1);
}

.modal__content .modal__top:hover .modal__image {
  transform: scale(1.05);
}

.modal__content .modal__top .modal__overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;

  background: radial-gradient(
    circle at center,
    transparent 40%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.modal__content .modal__info {
  background-color: #111;
  padding: 1.5rem 2rem;
  text-align: left;
}

.modal__content .modal__info .modal__title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: bold;

  display: -webkit-box;
  -webkit-line-clamp: 2; /* ✅ จำกัดให้แสดง 2 บรรทัด */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal__content .modal__info .modal__tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.modal__content .modal__info .modal__tags span {
  background: #333;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 0.8rem;
}

.modal__content .modal__info .modal__description {
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  pointer-events: none; /* ป้องกัน hover/scroll ตอนซ่อน */
}

/* เมื่อ hover แสดงคำอธิบาย */
.modal__content .modal__info:hover .modal__description {
  max-height: 6rem; /* กำหนดความสูงสูงสุด */
  opacity: 1;
  pointer-events: auto;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal__content .modal__info:hover .modal__description::-webkit-scrollbar {
  display: none;
}

.modal__content .close__button {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 10;
  height: fit-content;
  width: fit-content;
}
