.row {
  margin-bottom: 30px;
  position: relative;
}

.row h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 16px;
  color: white;
}

.sliderContainer {
  position: relative;
}

.rowPosters {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  padding: 8px 0;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-inline: 40px;
}

.rowPosters::-webkit-scrollbar {
  display: none;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(20, 20, 20, 0.5);
  border: none;
  z-index: 10;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  color: white;
}

.arrowLeft {
  left: 0;
}

.arrowRight {
  right: 0;
}
.arrowLeft:focus,
.arrowRight:focus,
.arrowLeft:active,
.arrowRight:active {
  outline: none;
  box-shadow: none;

}

.arrowRight:hover{
  background: none;
}

.arrowLeft:hover{
  background: none;
}